OAUTH2_PROXY_CLIENT_ID="{{ oauth2_proxy.client_id }}"
OAUTH2_PROXY_CLIENT_SECRET="{{ client_secret }}"
OAUTH2_PROXY_COOKIE_SECRET="abcd{{ lookup('ansible.builtin.password', pw_store_dir + '/cookie.txt', chars=['ascii_letters', 'digits']) }}"
OAUTH2_PROXY_EMAIL_DOMAINS="*"