[Unit]
Description=My Python Script

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/magic-mirror/__init__.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
