name: magic-mirror
services:
  frontend:
    build:
      context: ../frontend
      dockerfile: docker/Dockerfile
      args:
        NODE_IMG_VERSION: ${NODE_IMG_VERSION}
    restart: unless-stopped
    networks:
      - app
    depends_on:
      - backend
    env_file:
      - frontend.env
      - host.env
  backend:
    build:
      context: ../backend
      dockerfile: docker/Dockerfile
      args:
        NODE_IMG_VERSION: ${NODE_IMG_VERSION}
        NODE_ENV: production
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - backend.env
      - host.env
    networks:
      - db
      - app
    environment:
      MONGO_USERNAME: ${MONGO_ROOT_USER}
      MONGO_PASSWORD: ${MONGO_ROOT_PW}
  mongo:
    image: mongo
    restart: unless-stopped
    volumes:
      - ../mongo:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PW}
    networks:
      - db
  oauth2-proxy:
    build:
      context: ../oauth2-proxy
    command: --config=/opt/conf/oauth2-proxy.cfg
    ports:
      - 443:443
    restart: unless-stopped
    networks:
      - app
    env_file:
      - host.env

networks:
  db:
  app:
