[Unit]
Description=Magic Mirror Server
Requires=docker.service
After=docker.service

[Service]
RemainAfterExit=yes
WorkingDirectory=WORKDIR/docker-compose
ExecStart=docker compose up -d --build
ExecStop=docker compose down
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
