apiVersion: v1
kind: Secret
metadata:
  name: ghcr-pull-secret
  namespace: magic-mirror
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ {'auths': {'ghcr.io': {'username': registry_username, 'password': registry_password, 'auth': (registry_username + ':' + registry_password) | b64encode}}} | to_json | b64encode }}"
{% if not letsencrypt_enabled | default(false) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: frontend-tls
  namespace: magic-mirror
type: Opaque
data:
  {{ server_fqdn }}.pem: "{{ oauth2_cert_pem }}"
  {{ server_fqdn }}.key: "{{ oauth2_cert_key }}"
{% endif %}
